/* CSS files add styling rules to your content */

body {
  font-family: monospace;
  margin: 2em;
  color: #ff0066;
  background-color: #0d1418; /* this should be blackish why doesn't it work*/
  font-size: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.participants {
  display: block;
}
.participant {
  margin-right: 1em;
  margin-top: .1em;
  margin-bottom: .1em;
  white-space: pre;
  float: left;
}

.organizer {
  background-color: #ffff20;
}
