/* CSS files add styling rules to your content */

body {
  font-family: monospace;
  margin: 0em;
  color: #ff1c6a;
  background-color: #050010; /* this should be blackish why doesn't it work*/
  font-size: 1.3em;
}

h1 {
  font-style: italic;
  color: #ffffff;
}

/* unvisited link */
a:link {
  color: #ff6096;
}

/* visited link */
a:visited {
  color: #ff0027;
}

.participants {
  display: block;
}
.participant {
  margin-right: 1em;
  margin-top: .1em;
  margin-bottom: .1em;
  white-space: pre;
  float: left;
}

.organizer {
  background-color: #ededed;
}
