/* CSS files add styling rules to your content */

body {
  font-family: monospace;
  margin: 2em;
  color: #ff0066;
  background-color: #44ff99;
  font-size: 30px;
}

h1 {
  font-style: italic;
  color: #373fff;
}
